{% extends "base.html" %}

{% block title %}Browse Files{% endblock %}

{% block content %}
<style>
    .file-entry {
        margin-bottom: 10px;
    }

    .file-info {
        display: inline-block;
        vertical-align: top;
    }

    .file-description {
        font-style: italic;
    }

    .action-buttons {
        float: right;
        margin-left: 10px;
    }
</style>

<h1>Browse Files</h1>
<ul>
    {% for file in files %}
        <li class="file-entry">
            <div class="file-info">
                <a href="{{ url_for('modelmanage.show_file_info', file_id=file.id) }}">{{ file.name }}</a><br>
                - Description: "<span class="file-description">{{ file.description }}</span>" Version: {{ file.version }}
                Category: {{ file.category }} (Internal ID: {{file.run_id}})
                <a href="{{ url_for('modelmanage.show_file_history', file_id=file.id) }}">History</a>
                <div class="action-buttons">
                    <form action="{{ url_for('modelmanage.delete_file') }}" method="post" onsubmit="return confirm('Are you sure you want to delete this file?')">
                        <input type="hidden" name="file_id" value="{{ file.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
