{% extends "base.html" %}

{% block title %}File Information{% endblock %}

{% block content %}
<h1>File Information</h1>

<a href="{{ url_for('modelmanage.download_file', file_id=info['id']) }}" download>
    <button>Download File</button>
</a>
<a href="{{ url_for('modelmanage.recalculate_metadata', file_id=info['id']) }}">
    <button>Recalculate Metadata</button>
</a>

<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in info.items() %}
            {% if key != 'performance' and key != 'stats' %}
                <tr>
                    {% if key == 'version_history' %}
                        <td><a href="{{ url_for('modelmanage.show_file_history', file_id=info.id) }}">{{ key }}</a></td>
                    {% else %}
                        <td>{{ key }}</td>
                    {% endif %}
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<!-- Check if "stats" exists in the info dictionary -->
{% if 'stats' in info %}
    <h2>Model stats</h2>
    <table>

    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>

    {% for performance_key, performance_value in info['stats'].items() %}
        <tbody>
            <tr>
                <td>{{ performance_key }}</td>
                <td>{{ performance_value }}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

{% endif %}

<!-- Check if "performance" exists in the info dictionary -->
{% if 'performance' in info %}
    <h2>Performance Information</h2>

    {% for performance_key, performance_value in info['performance'].items() %}
        <h3>{{ performance_key }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in performance_value.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endif %}

{% endblock %}
