{% extends "base.html" %}

{% block title %}File History{% endblock %}

{% block content %}
<h1>Model History for: <a href="{{ url_for('modelmanage.show_file_info', file_id=id) }}">{{ name }}</a></h1>
<table>
    <thead>
        <tr>
            <th>Version</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for version, meta in history %}
            <tr>
                <td>{{ version }}</td>
                <td>
                    {% if meta %}
                        <a href="{{ url_for('modelmanage.show_file_info', file_id=meta.id) }}">Info</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
