{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}

{% block content %}
<h1>Upload a File</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Select a file:</label>
    <input type="file" name="file" id="file"><br>
    <label for="model_name">Model name:</label>
    <input type="text" name="model_name" id="model_name"><br>
    <label for="model_description">Model description:</label><br>
    <textarea id="model_description" name="model_description" rows="5" cols="60" required></textarea><br>
    <label for="experiment">Select an experiment:</label>
    <select name="experiment" id="experiment" required>
        <option value="" disabled selected>Select an experiment</option>
        {% for experiment_name in experiment_names %}
            <option value="{{ experiment_name }}">{{ experiment_name }}</option>
        {% endfor %}
    </select><br>
    <label for="overwrite">Overwrite existing model:</label>
    <input type="checkbox" name="overwrite" id="overwrite" value="1"><br>
    <input type="submit" value="Upload">
</form>
{% endblock %}
