<!DOCTYPE html>
<html>
<head>
    <title>Browse Files</title>
</head>
<body>
    <h1>Browse Files</h1>
    <ul>
        {% for file in files %}
            <li>
                <a href="/info/{{ file.name }}">{{ file.name }}</a>
                - Description: "{{ file.description }}"   Version: {{ file.version }}
                <p><a href="/history/{{ file.name }}">History</a> | <a href="/delete/{{ file.name }}" onclick="return confirm('Are you sure you want to delete this file?')">Delete</a></p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>