{% extends "base.html" %}

{% block title %}File History{% endblock %}

{% block content %}
<h1>File History</h1>
<table>
    <thead>
        <tr>
            <th>Version</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for version, filename in history %}
            <tr>
                <td>{{ version }}</td>
                <td>
                    {% if filename %}
                        <a href="{{ url_for('show_file_info', filename=filename) }}">Info</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
