<!-- project_annotate_entities.html -->

{% extends "base.html" %}

{% block title %}Project Annotate Entities{% endblock %}

{% block content %}
    <h1>Project Annotate Entities</h1>
    <table>
        <tr>
            {% if data %}
                {% set keys = data[0].keys() %}
                {% for key in keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            {% else %}
                <th>No data</th>
            {% endif %}
        </tr>
        {% for project in data %}
            <tr>
                {% for key in keys %}
                    <td>{{ project[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
